.SingleCoctail__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.SingleCoctail__container-btn {
  background-color: var(--color-btn);
  padding: 8px 16.8px;
  font-size: 12.8px;
  text-align: center;
  min-width: 170px;
  font-size: 20px;
  border-radius: 15px;
  color: #ddd;
  font-family: var(--font-links);
  margin-bottom: 30px;
}

.SingleCoctail__container-btn:hover {
  background-color: var(--color-primary);
  color: #ddd;
}

.SingleCoctail__container-title {
  letter-spacing: 4px;
  margin-bottom: 50px;
}

.SingleCoctail__container-cocktail-details {
  width: 85vw;
  max-width: 1100px;
  text-align: left;
  display: grid;
  grid-template-columns: 40% 50%;
  grid-gap: 3rem;
}

.SingleCoctail__container-img {
  border-radius: 0.25em;
  width: 100%;
}
.SingleCoctail__container-cocktail-details-info {
  font-size: 1.4rem;
}
.info-title {
  background: var(--color-btn);

  border-radius: 0.25rem;
  color: var(--color-primary);
  padding: 3px 10px;
  color: #ddd;
  margin-right: 10px;
}

.SingleCoctail__container-cocktail-details-info p {
  text-transform: capitalize;
  line-height: 1.8;
  color: #ddd;
  margin-bottom: 25px;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .SingleCoctail__container-cocktail-details {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 768px) {
  .SingleCoctail__container-cocktail-details {
    grid-template-columns: auto;
  }
  .SingleCoctail__container-cocktail-details-info {
    font-size: 1.2rem;
  }
}
