.Sign-in__page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Sign-in_page {
  display: grid;
  flex-direction: row;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  max-width: 900px;
  background-color: rgb(6, 6, 42);
  border-radius: 10px;
}

.Sign-in_page img {
  max-width: 300px;
}

.Sign-in__page-form {
  border-radius: 10px;
  background-color: #fff;
  padding: 5px 40px;
  margin-bottom: 10px;
}

.Sign-in__page-form h2 {
  font-size: 2rem;
  display: block;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;

  color: var(--color-footer);
}
@media only screen and (max-width: 420px) {
  .Sign-in_page img {
    display: none;
  }
  .Sign-in__page-form {
    padding: 4px 20px;
  }
}
