.Sign-in__page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Sign-in_page {
  display: flex;
  flex-direction: row;
}
.Sign-in__page-form {
  border-radius: 10px;
  background-color: #fff;
  padding: 5px 40px;
  margin-bottom: 10px;
}

.Sign-in__page-form h2 {
  font-size: 2rem;
  display: block;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;

  color: var(--color-footer);
}
