.form-container {
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.form {
  padding: 0px 60px;
  background-color: #fff;
  border: 1px solid red;
  border-radius: 10px;
}

.form h2 {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
}
