.search-bar-container {
  max-width: 600px;
}
.List_cocktails {
  color: white;
}
.List_cocktails-grid {
  display: grid;
  margin: 60px auto;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: auto auto auto auto auto;
}

@media screen and (max-width: 1100px) {
  .List_cocktails-grid {
    grid-template-columns: auto auto auto auto;
  }
}
@media screen and (max-width: 992px) {
  .List_cocktails-grid {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 768px) {
  .List_cocktails-grid {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 480px) {
  .List_cocktails-grid {
    grid-template-columns: auto;
  }
}
