.nav-bg {
  color: var(--color-primary);
}
.Cocktail__navbar {
  display: flex;
  line-height: 36px;
  font-size: 22px;
  font-weight: 500;
  padding: 2rem 10rem;
  justify-content: space-between;
  text-align: center;
  font-family: var(--font-family-text);
  letter-spacing: -0.05em;
  align-items: center;
}

.Cocktail__navbar-logo {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  height: 50px;
}
.logo {
  color: var(--color-btn);
  align-self: flex-start;
}

.logo-text {
  margin-right: 5px;
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Cocktail__navbar-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;

  line-height: 20px;
  font-family: var(--font-links);
}
.Cocktail__navbar-links-container {
  display: flex;
}
.Cocktail__navbar-links p {
  padding: 1rem 2rem;
  justify-content: center;
}
.Cocktail__navbar-links p a,
.Cocktail__navbar-sign p {
  padding: 7px 14px;
  border-radius: 5px;
}
.Cocktail__navbar-sign p {
  margin-right: 5px;
}
.Cocktail__navbar-links p a:hover,
.Cocktail__navbar-sign p:hover {
  background-color: #042c54;
  color: white;
}
.Cocktail__navbar-sign button:hover {
  background-color: var(--color-primary);
}

/* styling the responsive menu */
.Cocktail__navbar-menu {
  display: none;
  margin-left: 2rem;
  position: relative;
}

.Cocktail__navbar-menu-container-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  padding: 2rem 2rem;
  position: absolute;
  top: 10px;
  right: 0;
  background-color: var(--color-primary);
  color: white;
  border-radius: 10px;
  min-width: 200px;
  opacity: 0.9;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.Cocktail__navbar-menu svg {
  cursor: pointer;
}

.Cocktail__navbar-sign {
  white-space: nowrap;
  display: flex;
  font-family: var(--font-family-title);
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
  align-items: center;
}

.Cocktail__navbar-sign button {
  padding: 5px 10px;
  margin-bottom: 8px;
  padding: 0.5rem 1rem;
  color: #fff;
  background: #ff4820;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
@media only screen and (max-width: 1200px) {
  .Cocktail__navbar {
    padding: 2rem 4rem;
  }
}

@media only screen and (max-width: 1050px) {
  .Cocktail__navbar {
    padding: 2rem 1rem;
  }
}

@media only screen and (max-width: 920px) {
  .Cocktail__navbar {
    align-items: flex-start;
  }
  .Cocktail__navbar-links-container {
    display: none;
  }

  .Cocktail__navbar-menu {
    display: block;
  }
}
