.nav-bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 90% 10%,
    rgba(232, 232, 231, 1) 0%,
    rgba(184, 154, 150, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 90% 10%,
    rgba(232, 232, 231, 1) 0%,
    rgba(184, 154, 150, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 90% 10%,
    rgba(232, 232, 231, 1) 0%,
    rgba(184, 154, 150, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 90% 10%,
    rgba(232, 232, 231, 1) 0%,
    rgba(184, 154, 150, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 90% 10%,
    rgba(232, 232, 231, 1) 0%,
    rgba(184, 154, 150, 1) 100%
  );
}

.Cocktail__navbar {
  display: flex;

  line-height: 36px;
  font-size: 24px;
  font-weight: 500;
  padding: 2rem 6rem;
  justify-content: space-between;
  text-align: center;
  font-family: var(--font-family-text);
  letter-spacing: -0.05em;
}

.Cocktail__navbar-logo {
  display: flex;
  flex-basis: 25%;
  height: 50px;
}
.logo {
  color: var(--color-primary);
  align-self: flex-start;
}

.logo-text {
  margin-right: 5px;
  font-size: 2.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Cocktail__navbar-title {
  flex-basis: 50%;

  justify-content: center;
  font-weight: 500;
  font-size: 100px;
  line-height: 150%;
  font-family: var(--font-family-title);
}

.Cocktail__navbar-title a:hover {
  color: black;
}

.Cocktail__navbar-links {
  display: flex;
  flex-basis: 25%;

  justify-content: center;
  align-items: center;
}

.Cocktail__navbar-links p {
  padding: 1rem;
  justify-content: center;
}
.Cocktail__navbar-links p a {
  padding: 7px 14px;
  border-radius: 5px;
}

.Cocktail__navbar-links p a:hover {
  background-color: var(--color-primary);
  color: white;
}

/* styling the responsive menu */
.Cocktail__navbar-menu {
  display: none;
}

.Cocktail__navbar-menu svg {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .Cocktail__navbar {
    display: block;
  }
}
