.showcase__container {
  display: flex;
}

.showcase__container-header h1 {
  font-family: Inter;
  font-size: 6rem;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.05em;
  text-align: center;
  color: var(--gradient-bar);
}
