.showcase-bg {
  background-image: url(../../images/3f5b1249ad11d3de41191b84b63dd347.jpg);
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 70vh;
}

.showcase-bg::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
