body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}
main {
  background-image: url(../images/02232017\ HEALTHYISH5420.webp);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* styling the nav-bar */
.navbar a:hover {
  background-color: #238783;
}
